* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(to top, black, transparent);
    position: relative;
}

.hero .innerHero {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
    opacity: 0.7;
}

.hero h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.hero h2 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 0 10px;
    max-width: 85%;
}

.register {
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 5;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.05s ease-in-out;
}

.register:hover {
    background-color: tomato;
}

section {
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.activitesHeader {
    font-size: 2rem;
    margin-bottom: 20px;
}

.activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: calc(100% - 40px);
    max-width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.activityImage {
    width: 100%;
    height: auto;
}

.social-icons {
    display: none;
    justify-content: center;
    gap: 10px;
    background-color: #ffcccb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 3s ease;
}

.card:hover .social-icons {
    display: flex;
    opacity: 1;
}

.social-icons i {
    font-size: 20px;
    color: tomato;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: black;
}

.card p {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.image-card {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
}

.image-card img {
    height: 160px;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    width: 100%;
}

.image-card:hover img {
    opacity: 1;
}

.image-card p {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-card:hover p {
    opacity: 1;
}

@media (min-width: 600px) {
    .image-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

@media (min-width: 900px) {
    .image-card {
        width: calc(33.33% - 40px);
    }
}
